@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Madimi+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #cbf3c6;
    align-items: center;
}
.login-page{
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #eefced;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo-div{
    width: 30vw;
    height: 100%;
    display: flex;
    background: #fff;
    justify-content: center;
    margin-right: auto;
    align-items: center;
    border-radius: 20px;
}
.logo-img{
    width: 10rem;
    padding: 0 .9rem 0 3rem;
}
.login{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
}
.login p{
    padding: .5rem;
}
.login input{
    margin-bottom: 1.2rem;
    padding: 0.7rem;
    border-radius: 7px;
    border: none;
    outline: none;
}
.login>button{
    cursor: pointer;
    display: block;
    background: #00AC47;
    padding: 0.7rem 0;
    border-radius: 7px;
    color: #fff;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bgcolors{
    background: #00AC47;
    background: #00832D;
    background: #5BB974;
}