*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4efd1;
}
.login-page{
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f3f0f0;
    /* background: #fff; */
    border-radius: 20px;
    overflow: hidden;
}
.logo-div{
    width: 30vw;
    height: 100%;
    display: flex;
    background: #fff;
    justify-content: center;
    margin-right: auto;
    align-items: center;
    border-radius: 20px;
}
.logo-img{
    width: 10rem;
    padding-left: 3rem;
}
.login{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
}
.login>button{
    display: block;
    background: #00AC47;
    color: #fff;
    border: none;

}
.bgcolors{
    background: #00AC47;
    background: #00832D;
    background: #5BB974;
}